@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	/*Color*/
	--primary-600: #326187;
	--primary-500: #457B9D;
	--primary-100: #DEF5FA;

	--secondary-600: #D2B326;
	--secondary-500: #F5D534;
	--secondary-100: #FEFAD6;

	--state-success: #5EB546;
	--state-error: #F22727;
	--state-warning: #FFA100;
	--state-info: #1567F2;

	--disabled-600: #888888;
	--disabled-500: #DEDEDE;
	--disabled-100: #ECECEC;

	--background-main: #F8F9FA;
	--background-white: #FFFFFF;

	--text-primary: #303030;
	--text-secondary: #767676;
	--text-tertiary: #B3B3B3;
	--text-divider: #E8E8E8;
	--text-white: #FFFFFF;

	--textfields-placeholder: #DBDBDB;
	--textfields-outline: #D9D9D9;

	--textfields-background-main: #FFFFFF;
	--textfields-background-variant: #EEEEEE;

	/*Text*/
	--H1-32: 32px;
	--H2-24: 24px;
	--H3-20: 20px;
	--S1-16: 16px;
	--S2-14: 14px;
	--B1-16: 16px;
	--B2-14: 14px;
	--Btn-16: 16px;
	--caption: 12px;

	--semiBold: 600;
	--regular: 400;
}

* {
	margin: 0;
	padding: 0;
	font-family: "poppins";
}

body {
	background-color: var(--background-main);
	width: 100%;
	height: 100%;
}

.desktop-menu {
	display: flex;
	align-items: center;
}

.mobile-menu {
	display: none;
}

.header-logo-title {
	display: flex;
	align-items: center;
	margin-right: 32px;
}

.header-logo-title h1 {
	color: var(--text-white);
	font-size: var(--H1-32);
	font-weight: var(--semiBold);
}

.header-logo-title img {
	margin-right: 4px;
}

nav li {
	display: inline;
	margin-right: 40px;
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color: var(--text-white);
	font-size: var(--B1-16);
	font-weight: var(--regular);
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: var(--primary-500);
	height: 64px;
	padding: 0 150px;
}

.header-profile {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.header-profile-icon {
	margin-right: 4px;
}

.header-bag-icon {
	cursor: pointer;
}

.header-searchbar {
	display: flex;
	justify-content: space-between;
	background-color: var(--background-white);
	width: 320px;
	height: 40px;
	border-radius: 999px;
	margin-right: 32px;
}

.header-searchbar input {
	background-color: transparent;
	border: none;
	width: 320px;
	height: 40px;
	margin-left: 16px;
}

.header-searchbar input:focus {
	outline: none;
}

.header-searchbar input::placeholder {
	color: var(--textfields-placeholder);
	font-size: var(--B1-16);
	font-weight: var(--regular);
}

.header-searchbar button {
	background-color: var(--primary-600);
	border: none;
	border-radius: 0 999px 999px 0;
	padding: 8px 12px 8px 8px;
}

.header-bag-profile {
	display: flex;
}

.header-bag-profile > img {
	margin-right: 16px;
}

.header-searchbar-bag-profile {
	display: flex;
	align-items: center;
}

.block1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 150px;
	height: calc(100vh - 64px);
}

.block1 img {
	width: 32vw;
}

.block1-text-button {
	margin-right: 56px;
}

.block1-text-button h1 {
	color: var(--text-primary);
	font-size: var(--H1-32);
	font-weight: var(--semiBold);
	margin-bottom: 24px;
}

.block1-text-button p {
	color: var(--text-primary);
	font-size: var(--B1-16);
	font-weight: var(--regular);
	margin-bottom: 48px;
}

.block1-text-button button {
	width: 160px;
	height: 40px;
	background-color: var(--primary-500);
	color: var(--text-white);
	font-size: var(--Btn-16);
	font-weight: var(--semiBold);
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.block1-text-button button:hover {
	background-color: var(--primary-600);
}

.block2 {
	background-color: var(--primary-100);
	padding: 60px 150px;
}

.block2 > div {
	display: flex;
	justify-content: space-between;
	gap: 40px;
}

.block2 > h1 {
	color: var(--primary-500);
	font-size: var(--H1-32);
	font-weight: var(--semiBold);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-bottom: 40px;
}

.block2 > h1::before,
.block2 > h1::after {
	content: "";
	width: 200px;
	border-bottom: 1px solid var(--primary-500);
	margin:0 24px;
}

.block2-info {
	background-color: var(--background-white);
	border-radius: 10px;
	width: 320px;
	text-align: center;
	padding: 24px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.block2-info img {
	margin-bottom: 32px;
}

.block2-info h4 {
	color: var(--text-primary);
	font-size: var(--S1-16);
	font-weight: var(--semiBold);
	margin-bottom: 16px;
}

.block2-info p {
	color: var(--text-primary);
	font-size: var(--B1-16);
	font-weight: var(--regular);
}

.star {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

.star img {
	margin-right: 8px;
}

.star-title-content h4 {
	color: var(--text-primary);
	font-size: var(--S1-16);
	font-weight: var(--semiBold);
	margin-bottom: 16px;
}

.star-title-content p {
	color: var(--text-primary);
	font-size: var(--B1-16);
	font-weight: var(--regular);
	margin-bottom: 32px;
}

.sticker-name {
	display: flex;
	align-items: center;
}

.sticker-name img {
	margin-right: 16px;
}

.block3 {
	display: flex;
	gap: 40px;
	padding: 160px 150px;
}

.block3 > div {
	background-color: var(--primary-500);
	padding: 24px;
	border-radius: 10px;
}

.star-title-content h4 {
	color: var(--text-white);
	font-size: var(--S1-16);
	font-weight: var(--semiBold);
}

.star-title-content p {
	color: var(--text-white);
	font-size: var(--B1-16);
	font-weight: var(--regular);
}

.sticker-name p {
	color: var(--text-white);
	font-size: var(--B1-16);
	font-weight: var(--regular);
}

.footer-logo-title {
	display: flex;
	align-items: center;
	margin-right: 32px;
}

.footer-logo-title h1 {
	color: var(--primary-500);
	font-size: var(--H1-32);
	font-weight: var(--semiBold);
}

/* 平板 */
@media screen and (max-width:1308px) {
	.mobile-menu {
		display: block;
		margin: auto 0;
	}

	nav {
		display: none;
	}

	.mobile-menu img {
		width: 48px;
	}

	.header-searchbar {
		display: none;
	}
}

/* 手機 */
@media screen and (max-width:500px) {
	.mobile-menu {
		display: block;
		margin: auto 0;
	}

	.mobile-menu img {
		width: 48px;
	}

	nav {
		display: none;
	}

	.header-searchbar {
		display: none;
	}
}