.desktop-menu {
	display: flex;
	align-items: center;
}

.mobile-menu {
	display: none;
	width: 48px;
	height: 48px;
}

.mobile-menu img {
	width: 48px;
	height: 48px;
}

.header-logo-title {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.header-logo-title h1 {
	color: var(--text-white);
	font-size: var(--H1-32);
	font-weight: var(--semiBold);
}

.header-logo-title img {
	margin-right: 4px;
}

.desktop-menu ul {
	margin-left: 32px;
}

.desktop-menu li {
	display: inline;
	margin-right: 40px;
}

.desktop-menu li:last-child {
	margin-right: 0;
}

.desktop-menu a {
	color: var(--text-white);
	font-size: var(--B1-16);
	font-weight: var(--regular);
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: var(--primary-500);
	height: 64px;
	padding: 0 150px;
}

.header-profile {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.header-profile-icon {
	margin-right: 4px;
}

.header-bag-icon {
	cursor: pointer;
}

.header-searchbar {
	display: flex;
	justify-content: space-between;
	background-color: var(--background-white);
	width: 320px;
	height: 40px;
	border-radius: 999px;
	margin-right: 32px;
}

.header-searchbar input {
	background-color: transparent;
	border: none;
	width: 320px;
	height: 40px;
	margin-left: 16px;
}

.header-searchbar input:focus {
	outline: none;
}

.header-searchbar input::placeholder {
	color: var(--textfields-placeholder);
	font-size: var(--B1-16);
	font-weight: var(--regular);
}

.header-searchbar button {
	background-color: var(--primary-600);
	border: none;
	border-radius: 0 999px 999px 0;
	padding: 8px 12px 8px 8px;
	cursor: pointer;
}

.header-bag-profile {
	display: flex;
}

.header-mobile-search {
	display: none;
	cursor: pointer;
}

.header-bag-profile > img {
	margin-right: 16px;
}

.header-searchbar-bag-profile {
	display: flex;
	align-items: center;
}

.block1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 150px;
	height: calc(100vh - 64px);
}

.block1 img {
	max-width: 100%;
	min-width: 50%;
}

.block1-text-button {
	margin-right: 56px;
}

.block1-text-button h1 {
	color: var(--text-primary);
	font-size: var(--H1-32);
	font-weight: var(--semiBold);
	margin-bottom: 24px;
}

.block1-text-button p {
	color: var(--text-primary);
	font-size: var(--B1-16);
	font-weight: var(--regular);
	margin-bottom: 48px;
}

.block1-text-button button {
	width: 160px;
	height: 40px;
	background-color: var(--primary-500);
	color: var(--text-white);
	font-size: var(--Btn-16);
	font-weight: var(--semiBold);
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.block1-text-button button:hover {
	background-color: var(--primary-600);
}

.block2 {
	background-color: var(--primary-100);
	padding: 60px 150px;
}

.block2 > div {
	display: flex;
	justify-content: space-between;
	gap: 40px;
}

.block2 > h1 {
	color: var(--primary-500);
	font-size: var(--H1-32);
	font-weight: var(--semiBold);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-bottom: 40px;
}

.block2 > h1::before,
.block2 > h1::after {
	content: "";
	width: 200px;
	border-bottom: 1px solid var(--primary-500);
	margin:0 24px;
}

.block2-info {
	background-color: var(--background-white);
	border-radius: 10px;
	width: 400px;
	text-align: center;
	padding: 24px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.block2-info img {
	margin-bottom: 32px;
}

.block2-info h4 {
	color: var(--text-primary);
	font-size: var(--S1-16);
	font-weight: var(--semiBold);
	margin-bottom: 16px;
}

.block2-info p {
	color: var(--text-primary);
	font-size: var(--B1-16);
	font-weight: var(--regular);
}

.star {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

.star img {
	margin-right: 8px;
}

.star-title-content h4 {
	color: var(--text-primary);
	font-size: var(--S1-16);
	font-weight: var(--semiBold);
	margin-bottom: 16px;
}

.star-title-content p {
	color: var(--text-primary);
	font-size: var(--B1-16);
	font-weight: var(--regular);
	margin-bottom: 32px;
}

.sticker-name {
	display: flex;
	align-items: center;
}

.sticker-name img {
	margin-right: 16px;
}

.block3 {
	display: flex;
	gap: 40px;
	padding: 160px 150px;
}

.block3 > div {
	background-color: var(--primary-500);
	padding: 24px;
	border-radius: 10px;
}

.star-title-content h4 {
	color: var(--text-white);
	font-size: var(--S1-16);
	font-weight: var(--semiBold);
}

.star-title-content p {
	color: var(--text-white);
	font-size: var(--B1-16);
	font-weight: var(--regular);
}

.sticker-name p {
	color: var(--text-white);
	font-size: var(--B1-16);
	font-weight: var(--regular);
}

.footer-logo-title {
	display: flex;
	margin-bottom: 16px;
	cursor: pointer;
}

.footer-logo-title h1 {
	color: var(--primary-500);
	font-size: var(--H1-32);
	font-weight: var(--semiBold);
}

.footer-logo-menu {
	background-color: var(--primary-100);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 24px 0;
}

.footer-logo-menu a {
	color: var(--primary-500);
	text-decoration: none;
}

.footer-logo-menu li {
	display: inline;
	margin-right: 40px;
	position: relative;
}

.footer-logo-menu li:last-child {
	margin-right: 0;
}

.footer-logo-menu li:not(:last-child)::after {
	content: "|";
  color: var(--primary-500);
	position: absolute;
	right: -24px;
}

.footer-copyright {
	background-color: var(--primary-500);
	display: flex;
	justify-content: center;
	padding: 10px 0;
}

.footer-copyright p {
	color: var(--text-white);
	font-size: var(--B1-16);
	font-weight: var(--regular);
	text-align: center;
}

/* 平板 */
@media screen and (max-width:1308px) {
	.mobile-menu {
		display: block;
		margin: auto 0;
	}

	nav {
		display: none;
	}

	.header-searchbar {
		display: none;
	}

	.header-mobile-search {
		display: block;
	}
	
	header {
		padding: 0 56px;
	}

	.block1 {
		padding: 0 56px;
	}

	.block2 {
		padding: 60px 56px;
	}

	.block3 {
		padding: 160px 56px;
	}
}

/* 手機 */
@media screen and (max-width:600px) {
	.mobile-menu {
		display: block;
		width: 32px;
		height: 32px;
	}

	.mobile-menu img {
		width: 32px;
		height: 32px;
	}

	nav {
		display: none;
	}

	.header-searchbar {
		display: none;
	}

	.header-mobile-search {
		display: block;
	}

	.header-logo-title h1 {
		font-size: var(--H2-24);
	}

	.header-logo-title img {
		width: 32px;
		height: 32px;
	}
	
	header {
		padding: 0 16px;
	}

	.header-profile {
		display: none;
	}

	.block1 {
		padding: 0 16px;
		flex-wrap: wrap;
	}

	.block1-text-button {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 0;
	}

	.block1-text-button h1 {
		color: var(--text-primary);
		font-size: var(--H2-24);
		font-weight: var(--semiBold);
		text-align: center;
	}

	.block1-text-button p {
		text-align: center;
	}

	.block2 {
		padding: 60px 16px;
	}

	.block2 > div {
		flex-wrap: wrap;
	}

	.block2-info {
		width: 100%;
	}

	.block3 {
		padding: 60px 16px;
		flex-wrap: wrap;
	}

	.footer-copyright p {
		font-size: var(--B2-14);
	}
}